<%- include("../partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/blogs/new_page.css" />
<script src="/javascripts/displayFileName.js"></script>
<script src="/javascripts/blogItemSelected.js"></script>
<script src="/javascripts/newPage.js"></script>
<div class="container">
	<div class="card p-5 m-5 border-secondary">
		<div class="mb-5">
			<p class="h1">Create Post</p>
		</div>
		<form action="/blogs/new" method="POST" enctype="multipart/form-data">
			<div class="form-group mb-4">
				<input
					class="form-control"
					type="text"
					name="title"
					id="title"
					placeholder="Headline"
					required
				/>
			</div>

			<div class="form-file custom-file mb-4">
				<input type="file" class="form-file-input" id="img" name="img" multiple />
				<label class="form-file-label" for="img">
					<span class="form-file-text custom-file-label text-muted"
						>Add image(s) to your post</span
					>
					<span class="form-file-button">Browse</span>
				</label>
			</div>

			<div class="form-group mb-5">
				<textarea
					class="form-control"
					name="desc"
					id="body"
					cols="30"
					rows="6"
					placeholder="What's on your mind,&nbsp;<%= currentUser.username %> ?"
					required
				></textarea>
			</div>
			<div class="form-group mt-3">
				<input class="btn btn-lg btn-block" type="submit" value="Post" />
			</div>
		</form>
	</div>
</div>

<%- include("../partials/footer") %>