.parent {
	display: flex;
}
.main {
	width: 75%;
}
.side-card {
	width: 25%;
}
.button {
	display: inline-block;
}
.form-comment {
	display: flex;
}
.comment-area {
	width: 97%;
}
.inner-element-comment {
	display: flex;
}
.title-portion{
	display:flex;
}
.commentDetails{
	display:flex;
	align-items:baseline;
}
.BlogOwnerDetails{
	display:flex;
	align-items:baseline;
}
.danger{
	color:#FFF;
	background-color:#CC0000;
}
.info{
	background-color:#2BBBAD;
}
.mainCard{
	box-shadow: 7px 10px 12px -5px rgb(0 0 0 / 56%);
	border-radius:10px;
}