.top{
	background-color:#00A0DC;
	color:#FFF;
	height:200px;
	width:80%;
	margin:auto;
}
.add{
	width:100%;
}
.parent{
	display:flex;
}
.tutors{
	width:20%;
}
.questions{
	width:75%;
}
.tutorsList p{
	height:20px;
}
.closeButton{
	background-color:gray;
}
.closeButton:hover{
	background-color:gray;
	color:black;
}
.tutorName{
	font-size:20px;
}
.tut{
	font-weight:bold;
}